<head>
  <link rel="stylesheet" href="https://unpkg.com/mvp.css">
  <script type="module">
    import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo@v7';

    import { Application, Controller } from "https://unpkg.com/@hotwired/stimulus/dist/stimulus.js"
    window.Stimulus = Application.start()
  </script>
</head>

<header>
  <nav>
    <ul>
      <li><a href="/turbo">Turbo</a></li>
      <li><a href="/stimulus">Stimulus</a></li>
    </ul>
  </nav>
  <h1>Turbo & Stimulus examples</h1>
  <p>

  </p>
</header>
